if ! has nix_direnv_version || ! nix_direnv_version 2.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.1.1/direnvrc" "sha256-b6qJ4r34rbE23yWjMqbmu3ia2z4b2wIlZUksBke/ol0="
fi

use flake git+https://github.com/m-labs/artiq.git\?rev=cc81464f53a02cb41d7b4f9efae75f815c63ea4d